<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
 <link href="/css/cctvstyles.css" type="text/css" rel="stylesheet" />
  <title>${page}</title>
 <style>
</style>

</head>

<body>
    <h2 class='effect6'>${page}</h2>
<!-- This is the container for the carousel. -->
<div id = "carousel_grid" style="width:1900px;margin-left:-10px;height:1380px;background:#000;overflow:hidden;">            
    <!-- All images with class of "cloudcarousel" will be turned into carousel items -->
    <!-- You can place links around these images-->
    <img class = "cloudcarousel" src="http://jisttrading.no-ip.org:10091/cgi-bin/faststream.jpg?stream=full&amp;fps=1.0&amp;preview&amp;size=400x300&amp;dummy=1804289385" height="600px" width="800px" alt="Flag 1 Description" title="Front Gate Overview" />
    <img class = "cloudcarousel" src="http://jisttrading.no-ip.org:10097/cgi-bin/faststream.jpg?stream=full&amp;fps=1.0&amp;preview&amp;size=400x300&amp;dummy=1804289386" height="300px" width="400px" alt="Flag 2 Description" title="Front Outside" />
    <img class = "cloudcarousel" src="http://jisttrading.no-ip.org:10096/cgi-bin/faststream.jpg?stream=full&amp;fps=1.0&amp;preview&amp;size=400x300&amp;dummy=1804289387" height="300px" width="400px" alt="Flag 3 Description" title="Store Door" />
    <img class = "cloudcarousel" src="http://jisttrading.no-ip.org:10095/cgi-bin/faststream.jpg?stream=full&amp;fps=1.0&amp;preview&amp;size=400x300&amp;dummy=1804289388" height="300px" width="400px" alt="Flag 4 Description" title="Factory" />
    <img class = "cloudcarousel" src="http://jisttrading.no-ip.org:10100/cgi-bin/faststream.jpg?stream=full&amp;fps=1.0&amp;preview&amp;size=400x300&amp;dummy=1804289389" height="300px" width="400px" alt="Flag 4 Description" title="Factory" />
    <img class = "cloudcarousel" src="http://jisttrading.no-ip.org:10090/cgi-bin/faststream.jpg?stream=full&amp;fps=1.0&amp;preview&amp;size=400x300&amp;dummy=5804289358" height="300px" width="400px" alt="Flag 4 Description" title="Outside Back" />
    <img class = "cloudcarousel" src="http://jisttrading.no-ip.org:10094/cgi-bin/faststream.jpg?stream=full&amp;fps=1.0&amp;preview&amp;size=400x300&amp;dummy=1804289355" height="300px" width="400px" alt="Flag 5 Description" title="Outside Back" />
    <img class = "cloudcarousel" src="http://jisttrading.no-ip.org:10104/cgi-bin/faststream.jpg?stream=full&amp;fps=1.0&amp;preview&amp;size=400x300&amp;dummy=1804289355" height="300px" width="400px" alt="Flag 5 Description" title="Open Stores" />
    <img class = "cloudcarousel" src="http://jisttrading.no-ip.org:10102/cgi-bin/faststream.jpg?stream=full&amp;fps=1.0&amp;preview&amp;size=400x300&amp;dummy=1804289355" height="300px" width="400px" alt="Flag 5 Description" title="Transport Dept" />
    <img class = "cloudcarousel" src="http://jisttrading.no-ip.org:10103/cgi-bin/faststream.jpg?stream=full&amp;fps=1.0&amp;preview&amp;size=400x300&amp;dummy=1804289355" height="300px" width="400px" alt="Flag 5 Description" title="Transport Dept" />
</div>
<select name="foo2_fx" id="foo2_fx" size="1" class="ui-state-default ui-corner-all">
    <option value="none">none</option>
    <option value="scroll" selected="selected">scroll (default)</option>
    <option value="directscroll">directscroll</option>
    <option value="fade">fade</option>
    <option value="crossfade">crossfade</option>
    <option value="cover">cover</option>
    <option value="cover-fade">cover-fade</option>
    <option value="uncover">uncover</option>
    <option value="uncover-fade">uncover-fade</option>
</select>
<select name="foo2_direction" id="foo2_direction" size="1" class="ui-state-default ui-corner-all">
    <option value="left">left</option>
    <option value="right">right</option>
</select>
  <div class="clearingdiv" />
  <div style="height:20px;"> &nbsp; </div>
  <div class="notice"> The JIST Way.
  </div>
</body>
</html>


