<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>${page}</title>
</head>

<body>
    <h2 class='effect6'>${page}</h2>
    
                <div id = "stores_location_div">
                            <table id='stores_location_table' class='table_estdata'>
                            <th>ID</th>
                            <th>Store Name</th>
                            <th>Location</th>
                            <th>Address Line 1</th>
                            <th>Address Line 2</th>
                            <th>Address Line 3</th>
                            <th>Store Person Name</th>
                            <th>Active</th>
                  <div py:for="i,x in enumerate(locations)">
                        <tr>
                    <!--td  align="center" width="2%">
                    <a href="/productioncont/get_one/${x[0]}">${x[0]}</a>
                    </td-->
                        <td >
                    <a href="/logisticscont/edit_stores_location/${x.id}">${x.id}</a>
                        </td>
                        <td >
                           ${x.store_name} 
                        </td>
                        <td align='left' >
                           ${x.store_location} 
                        </td>
                        <td align='left' >
                           ${x.store_address_1} 
                        </td>
                        <td align='left' >
                           ${x.store_address_2} 
                        </td>
                        <td align='left' >
                           ${x.store_address_3} 
                        </td>
                        <td align='left' >
                           ${x.store_person_name} 
                        </td>
                        <td align='left' >
                           ${x.active} 
                        </td>
                        </tr>
                  </div>
                    </table>

                </div>

  <div class="clearingdiv" />
</body>
</html>
