<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>${page}</title>
</head>

<body>
    <h2 class='effect6'>${page}</h2>
    <div class="">

                    <form id="new_store_form">
                    <fieldset>
                        <label for="">Store Name</label><br/>
                        <input type="text" name="store_name" id="store_name" class="text ui-widget-content ui-corner-all" /><br/>
                        <label for="">Store Location</label><br/>
                        <input type="text" name="store_location" id="store_location" class="text ui-widget-content ui-corner-all" /><br/>
                        <label for="">Store Address 1</label><br/>
                        <input type="text" name="store_address_1" id="store_address_1" class="text ui-widget-content ui-corner-all" /><br/>
                        <label for="">Store Address 2</label><br/>
                        <input type="text" name="store_address_2" id="store_address_2" class="text ui-widget-content ui-corner-all" /><br/>
                        <label for="">Store Address 3</label><br/>
                        <input type="text" name="store_address_3" id="store_address_3" class="text ui-widget-content ui-corner-all" /><br/>
                        <label for="">Store Person Name</label><br/>
                        <input type="text" name="store_person_name" id="store_person_name" class="text ui-widget-content ui-corner-all" /><br/>
                        <button class="ui-widget ui-widget-content ui-state-default" id="button_store_new">Save New Store</button>
                    </fieldset>
                    </form>
</div>

  <div class="clearingdiv" />
</body>
</html>

