<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Search Supplier</title>
</head>

<body>
    <h2 class='effect6'>${page}</h2>
    <div class="sidebar_contract_searchbox">
        <form id="search_supplier">

        <fieldset>
            <label for="search_supplier_name" class="" style="margin-left: 50px">Search Part Of Supplier Name</label>
            <input type="text" name="search_supplier_name" id="search_supplier_name" class="text ui-widget-content ui-corner-all" />
            <button id="button_search_supplier_name" class="text ui-widget-content ui-corner-all">Search Supplier Name</button>
        </fieldset>

    </form>
</div>
        <table class="tablesinglepoint" border="0" cellspacing="0" cellpadding="2">
    <div id="outputsupplier_search"></div>
       </table>

    <!--${tmpl_context.widget()}
    ${tmpl_context.flot(data=data)}-->
  <div class="clearingdiv" />
</body>
</html>
