<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

    <xi:include href="master.html" />
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
        <title>${page}</title>
        <style>
        </style>
    </head>
    <body>
        <h2 class='effect6'>${page}</h2>
            <script type="text/javascript">
                        // Initial setup and display when the page is loaded
                        window.onload = function() {
                            sierpinski1 = new Sierpinski('logo1_canvas');
                            sierpinski2 = new Sierpinski("logo2_canvas");
                            sierpinski3 = new Sierpinski("logo3_canvas");
                            sierpinski4 = new Sierpinski("logo4_canvas");
                            sierpinski5 = new Sierpinski("logo5_canvas");
                            sierpinski6 = new Sierpinski("logo6_canvas");
                            sierpinski7 = new Sierpinski("logo7_canvas");
                            sierpinski8 = new Sierpinski("logo8_canvas");
                            sierpinski9 = new Sierpinski("logo9_canvas");
                            sierpinski10 = new Sierpinski("logo10_canvas");
                            sierpinski11 = new Sierpinski("logo11_canvas");
                            sierpinski12 = new Sierpinski("logo12_canvas");
                            sierpinski13 = new Sierpinski("logo13_canvas");
                            sierpinski14 = new Sierpinski("logo14_canvas");
                            sierpinski15 = new Sierpinski("logo15_canvas");
                            var width = 90;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 20;
                            var arc_space_top = 16;
                            var arc_space_sides = 20;
                            var arc_line_width = 1.7;
                            var scale = 0.5;
                            sierpinski1.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 100;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 22;
                            var arc_space_top = 16;
                            var arc_space_sides = 27;
                            var arc_line_width = 2.2;
                            var scale = 0.5;
                            //sierpinski_init();
                            sierpinski2.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 120;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 28;
                            var arc_space_top = 16;
                            var arc_space_sides = 28;
                            var arc_line_width = 2.3;
                            var scale = 0.5;
                            //sierpinski_init();
                            sierpinski3.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 140;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 33;
                            var arc_space_top = 18;
                            var arc_space_sides = 32;
                            var arc_line_width = 3;
                            var scale = 0.5;
                            //sierpinski_init();
                            sierpinski4.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 160;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 40;
                            var arc_space_top = 20;
                            var arc_space_sides = 36;
                            var arc_line_width = 3.1;
                            var scale = 0.5;
                            //sierpinski_init();
                            sierpinski5.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 180;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 48;
                            var arc_space_top = 24;
                            var arc_space_sides = 36;
                            var arc_line_width = 3.2;
                            var scale = 0.5;
                            //sierpinski_init();
                            sierpinski6.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 200;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 49;
                            var arc_space_top = 26;
                            var arc_space_sides = 42;
                            var arc_line_width = 4.3;
                            var scale = 0.5;
                            //sierpinski_init();
                            sierpinski7.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 220;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 53;
                            var arc_space_top = 28;
                            var arc_space_sides = 46;
                            var arc_line_width = 4.5;
                            var scale = 0.5;
                            //sierpinski_init();
                            sierpinski8.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 240;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 55;
                            var arc_space_top = 33;
                            var arc_space_sides = 49;
                            var arc_line_width = 4.8;
                            var scale = 0.5;
                            //sierpinski_init();
                            sierpinski9.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 300;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 68;
                            var arc_space_top = 43;
                            var arc_space_sides = 68;
                            var arc_line_width = 6;
                            var scale = 0.5;
                            //sierpinski_init();
                            sierpinski10.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 55;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 12;
                            var arc_space_top = 9;
                            var arc_space_sides = 13;
                            var arc_line_width = 1.2;
                            var scale = 0.5;
                            sierpinski11.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            var width = 220;
                            var depth = 2;
                            var angle = 0;
                            var canvas_space = 12;
                            var arc_space_top = 9;
                            var arc_space_sides = 13;
                            var arc_line_width = 1.2;
                            var scale = 0.5;
                            //sierpinski12.drawSierpinskiTriangleVariable(depth,width,angle,canvas_space,arc_space_top,arc_space_sides,arc_line_width,scale);
                            //var dataURL = logo1_canvas.toDataURL();
                            //var image = logo2_canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"); //Convert image to 'octet-stream' (Just a download, really)
                            //window.location.href = image;
                            //console.log(dataURL);

                        };
            </script>
                <canvas class='logo_png' id='logo1_canvas'></canvas>
                <canvas class='logo_png' id='logo2_canvas'></canvas>
                <canvas class='logo_png' id='logo3_canvas'></canvas>
                <canvas class='logo_png' id='logo4_canvas'></canvas>
                <canvas class='logo_png' id='logo5_canvas'></canvas>
                <canvas class='logo_png' id='logo6_canvas'></canvas>
                <canvas class='logo_png' id='logo7_canvas'></canvas>
                <canvas class='logo_png' id='logo8_canvas'></canvas>
                <canvas class='logo_png' id='logo9_canvas'></canvas>
                <canvas class='logo_png' id='logo10_canvas'></canvas>
                <canvas class='logo_png' id='logo11_canvas'></canvas>
                <canvas class='logo_png' id='logo12_canvas'></canvas>
                <canvas class='logo_png' id='logo13_canvas'></canvas>
                <canvas class='logo_png' id='logo14_canvas'></canvas>
                <canvas class='logo_png' id='logo15_canvas'></canvas>
                <!--img id='canvasImg'></img>
                <input id="slider_depth" type="range" name="slider" min="1" max="10" step="1" value="2"/>
                <input id="slider_rotation" type="range" name="slider_rotation" min="0" max="360" step="10" value="0"/-->

                <script>
                    // load image from data url
                    function downloadlogos(inst){
                        var canvas1 = document.getElementById(inst);
                        var image1 = canvas1.toDataURL("image/png").replace("image/png", "image/octet-stream"); //Convert image to 'octet-stream' (Just a download, really)
                        //image1.path = 'This File'
                        window.location.href = image1
                    };
                </script>
                <canvas id='logo_canvas'></canvas>
                <canvas id='drawing_canvas'></canvas>
                </body>
    </html>



